# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

# --- Entornos virtuales ---
venv/
env/
ENV/
.venv/

# --- Archivos de configuración ---
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# --- Variables de entorno ---
.env
!.env.example   # <-- permite subir un ejemplo sin credenciales reales

# --- IDEs / Editores ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# --- Alembic (migraciones) ---
migrations/__pycache__/
migrations/*.pyc
# si no quieres subir las migraciones generadas:
#migrations/versions/

# --- Otros ---
.DS_Store
Thumbs.db
seeder.py